{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card text-white bg-secondary mb-3" style="max-width: 34rem; height: 20rem;">
              <div class="card-header"><img src="{% static 'images/python.png' %}"> Python</div>
              <div class="card-body">
                  <p class="card-text">Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.</p>
                  <h5 class="card-text"><a href="https://www.python.org/">More details..</a></h5>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 34rem; height: 20rem;">
              <div class="card-header"><img src="{% static 'images/django.png' %}"> Django</div>
              <div class="card-body">
                <p class="card-text">Django is a free and open-source, Python-based web framework that follows the model–template–views architectural pattern. </p>
                  <h5 class="card-text"><a href="https://www.djangoproject.com/">More details..</a></h5>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 34rem; height: 20rem;">
              <div class="card-header"><img src="{% static 'images/angular.png' %}"> Angular</div>
              <div class="card-body">
                <p class="card-text">Angular is a TypeScript-based, free and open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations.</p>
                  <h5 class="card-text"><a href="https://angular.io/">More details..</a></h5>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 34rem; height: 20rem;">
              <div class="card-header"><img src="{% static 'images/java.png' %}"> Java</div>
              <div class="card-body">
                <p class="card-text">Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
                  <h5 class="card-text"><a href="https://www.oracle.com/java/">More details..</a></h5>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 34rem; height: 20rem;">
              <div class="card-header"><img src="{% static 'images/.net.png' %}"> Dot Net</div>
              <div class="card-body">
                <p class="card-text">The.NET Framework is a proprietary software framework developed by Microsoft that runs primarily on Microsoft Windows.</p>
                  <h5 class="card-text"><a href="https://dotnet.microsoft.com/en-us/">More details..</a></h5>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 34rem; height: 20rem;">
              <div class="card-header"><img src="{% static 'images/react.png' %}"> React</div>
              <div class="card-body">
                <p class="card-text">React is a free and open-source front-end JavaScript library for building user interfaces based on components.</p>
                  <h5 class="card-text"><a href="https://react.dev/">More details..</a></h5>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 34rem; height: 20rem;">
              <div class="card-header"><img src="{% static 'images/node_js.png' %}"> Node JS</div>
              <div class="card-body">
                <p class="card-text">Node.js is a cross-platform, open-source server environment that can run on Windows, Linux, Unix, macOS, and more.</p>
                  <h5 class="card-text"><a href="https://nodejs.org/en">More details..</a></h5>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 34rem; height: 20rem;">
              <div class="card-header"><img src="{% static 'images/php.png' %}"> PHP</div>
              <div class="card-body">
                <p class="card-text">PHP is a general-purpose scripting language geared toward web development. It was originally created by Danish-Canadian programmer Rasmus Lerdorf in 1993 and released in 1995.</p>
                  <h5 class="card-text"><a href="https://www.php.net/">More details..</a></h5>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 34rem; height: 20rem;">
              <div class="card-header"><img src="{% static 'images/javascript.png' %}"> JavaScript</div>
              <div class="card-body">
                <p class="card-text">JavaScript, often abbreviated as JS, is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS.</p>
                  <h5 class="card-text"><a href="https://javascript.info/">More details..</a></h5>
              </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
{% endblock %}