{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <form action="{% url 'quiz:php' %}" method="post">
            {% csrf_token %}
            {% for p in php %}
            <h4>{{p.question}}</h4>
            <select name="selected_answers_{{ p.id }}" style="width:300px;">
                <option value="option">--Select Answer--</option><br>
                <option value="{{p.opt1}}">{{p.opt1}}</option><br>
                <option value="{{p.opt2}}">{{p.opt2}}</option><br>
                <option value="{{p.opt3}}">{{p.opt3}}</option><br>
                <option value="{{p.opt4}}">{{p.opt4}}</option><br>
            </select>
            <br>
            <br>
            {% endfor %}
        <button class="btn btn-success" type="submit">Submit</button> <button class="btn btn-warning" type="reset">Reset</button>
        </form>
    </div>
</div>
{% endblock %}